// src/components/Header.scss
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding:30px;
  background-color: #ffffff;
  top: 0;
  z-index: 1000;

  .logo {
    display: flex;
    justify-content: center;
    width: 25%;

    img {
      width: 50%;
    }
  }

  .navigation {
    width: 50%;
    display: flex;
    justify-content: center;

    a {
      text-decoration: none;
      color: black;
      font-weight: 500;
      padding: 10px 15px;
      border-radius: 5px;
      font-size: 20px;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #f0f0f0;
        text-decoration: underline;
      }

      &:active{
        background-color: #f0f0f0;
        text-decoration: underline;
      }
    }
  }

  .button-container {
    display: flex;
    justify-content: center;
    width: 25%;
    .contact-button {
      
      background-color: #0041E8;
      color: #ffffff;
      padding: 10px 20px;
      font-size: 20px;
      border-radius: 5px;
      text-decoration: none;
      cursor: pointer;
      transition: background-color 0.3s ease;
      border: 1px solid black;

      &:hover {
        background-color: #0056b3;
      }
    }
  }

}
